# dependencias y builds
node_modules/
dist/
build/
coverage/

# variables de entorno
.env
.env.local

# editores
.idea/
.vscode/

# logs
*.log

# prisma generado (si alguna vez apareció)
generated/
generated/prisma/
src/generated/
src/generated/prisma/
