
services:
  db:
    image: postgres:15-alpine
    container_name: sipirilipi_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: pyme
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: sipirilipi_backend
    restart: unless-stopped
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/pyme
      JWT_SECRET: mysecret
      JWT_EXPIRES_IN: 1h
      CORS_ORIGIN: http://localhost:5173
      CORS_CREDENTIALS: "false"
      SKIP_ENV_COPY: "true"
    ports:
      - "4000:4000"
    depends_on:
      - db
    volumes:
      - ./backend:/app
      - backend-node-modules:/app/node_modules

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL: http://localhost:4000/api
    container_name: sipirilipi_frontend
    restart: unless-stopped
    ports:
      - "5173:5173"
    depends_on:
      - backend
volumes:
  db-data:
  backend-node-modules:
